body{
	font-family: 'Lato', sans-serif;
}

.header-bg{
	background-image: -ms-linear-gradient(left, #175C9E 0%, #0383C3 25%, #28B1B1 55%, #43CDA2 100%);
	background-image: -moz-linear-gradient(left, #175C9E 0%, #0383C3 25%, #28B1B1 55%, #43CDA2 100%);
	background-image: -o-linear-gradient(left, #175C9E 0%, #0383C3 25%, #28B1B1 55%, #43CDA2 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #175C9E), color-stop(25, #0383C3), color-stop(55, #28B1B1), color-stop(100, #43CDA2));
	background-image: -webkit-linear-gradient(left, #175C9E 0%, #0383C3 25%, #28B1B1 55%, #43CDA2 100%);
	background-image: linear-gradient(to right, #175C9E 0%, #0383C3 25%, #28B1B1 55%, #43CDA2 100%);
	min-height: 245px;
}
.header-bg .navbar-default{
	margin-top: 10px;
	background: none;
	border: none;
}

.header-bg  .navbar-brand{
	min-width: 300px;
}

.header-bg .navbar-default .logo, .header-bg .navbar-default .logo-details{
	display: inline-block;
}

.header-bg .navbar-default .logo{
	width: 60px;
	float: left;
       height: 100px;
}

.header-bg .navbar-default h1{
	color: #ffffff;
	font-size: 36px;
	font-weight: 900;
	line-height: 25px;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 0;
}

.header-bg .navbar-default h2{
	opacity: 0.6;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
	margin-top: 0;
}

.header-bg .text-info{
	color: #ffffff;
	font-size: 60px;
	font-weight: 300;
	line-height: 60px;
	text-align: center;
}
.header-bg .nav_menu{
	text-align: right;
}

.header-bg .nav_menu>ul>li{
	display: inline-block;
	margin-top: 20px;
}

.header-bg .nav_menu>ul>li>a{
	opacity: 0.8;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 30px;
	text-decoration: none;
}

.header-bg .nav_menu>ul>li:last-child a{
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	margin-left: 20px;
}

.header-bg .nav_menu>ul>li>a:hover, .header-bg .nav_menu>ul>li>a:active{
	text-decoration: none;
	color: #ffffff;
	opacity: 0.6;
}

.main_content h1{
	color: #038bcf;
	font-size: 22px;
	font-weight: 400;
	line-height: 60px;
	text-align: center;
}

.main_content .info-box{
	border-radius: 9px 10px 10px 9px;
	border: 2px solid #f1f1f1;
	background-color: #ffffff;
	text-align: center;
	margin: 0 0 50px;
}

.main_content .info-box:nth-child(2){
    border-top: none;
}

.main_content .info-box:nth-child(2)::before{
    border: 4px solid #038BCF;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main_content .info-box p{
	color: #666666;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
}

.main_content .info-box>div{
	padding: 20px 10px;
}

.main_content .info-box p span{
	color: #6eb6de;
	font-size: 30px;
	font-weight: 700;
	display: block;
	margin-top: 20px;
}

.main_content .info-box img{
	margin-top: 20px;
}

.main_content .info-box .glyphicon{
	color: #008CD0;
    font-size: 24px;
    margin-top: 20px;
}

.main_content .info-box .stars{
	margin-bottom: 0;
	line-height: 25px;
	margin-top: 10px;
}

.main_content .info-box .cloud{
	padding: 20px 0px;
}

.main_content .info-box .stars .glyphicon{
	color: #ffd800;
	font-size: 12px;
	font-weight: 400;
	display: inline-block;
	margin: 2px;
}

.main_content .info-box .buttons a:hover{
	opacity: 0.8;
}

.main_content .info-box .buttons a:first-child{
	width: 100%;
    	padding: 12px;
	border-radius: 5px;
	background-color: #038bcf;
	display: block;
	text-decoration: none;
	color: #ffffff;
	font-size: 17px;
	font-weight: 700;
	margin: 10px auto;
	border: 1px solid #038bcf;
}

.main_content .info-box .buttons a:last-child{
	width: 100%;
	border-radius: 5px;
	background-color: #fff;
	display: block;
    	padding: 12px;
	text-decoration: none;
	color: #038bcf;
	font-size: 17px;
	font-weight: 700;
	border: 1px solid #038bcf;
	margin: 10px auto;
}

.comments_section{
	background-color: #fafafa;
}

.comments_section .container{
	max-width: 1000px;
}

.comment-header h1{
	color: #222222;
	font-size: 26px;
	font-weight: 400;	
}

.comment-header .glyphicon{
	border: 2px solid #e1e1e1;
	color:  #707070;
	padding: 10px;
	border-radius: 20px;
	font-size: 14px;
	margin-top: 20px;
}

.comment-header h1 span{
	border: 2px solid #e1e1e1;
	color:  #707070;
	padding: 10px 15px;
	border-radius: 20px;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	margin-left: 10px;
}

.comment-body section{
	margin-bottom: 40px;
}

.comment-body section h2, .reply-body section h2{
	color: #222222;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}

.comment-body section div, .reply-body section div{
	color: #222222;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 25px;
}

.comment-body section div .glyphicon, .reply-body section div .glyphicon{
	margin-right: 10px;
}


.comment-body section h2 span, .reply-body section h2 span{
	color: #999999;
	font-size: 12px;
	font-weight: 400;
	text-transform: none;
	margin-left: 10px;
}
.comment-body section p,  .reply-body section p{
	color: #666666;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
}

.submit-comment h3{
	color: #222222;
	font-size: 26px;
	font-weight: 400;
	line-height: 60px;
}

.submit-comment label{
	font-family: Lato;
	font-weight: 300;
	text-transform: uppercase;
	color: #666666;
	font-size: 14px;
}

.submit-comment label::after{
	content: "*";
	color: #d40000;
	font-size: 18px;
}

.submit-comment textarea{
	resize: vertical;
	min-height: 250px; 
	background-color: #ededed;
	border: none;
	padding: 20px;
}

.submit-comment input{
	background-color: #ededed;
	border: none;
	min-height: 45px;
	border-radius: 0
}

.submit-comment input[type="submit"]{
	height: 47px;
	border-radius: 20px 19px 19px 20px;
	border: 2px solid #559f24;
	background-color: rgba(255, 255, 255, 0);
	color: #2998ff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 20px 0px;
}

.submit-comment input[type="submit"]:hover{
	opacity: 0.7;
}

footer{
color: #999999;
font-size: 14px;
font-weight: 400;
line-height: 18px;
text-transform: uppercase;
padding: 10px;
background: #EDEDED;
}

 @media  (max-width: 767px){
	.main_content .info-box>div, .main_content .info-box .cloud{
		padding:  0px;
	}

	.header-bg .nav_menu{
		margin-top: 50px;
	}
	.header-bg .nav_menu>ul>li{
		display: block;
	}

	.header-bg .nav_menu>ul>li>a{
		padding: 0 20px;
	}

	.header-bg .nav_menu>ul>li:last-child a{
		border: none;
	}
	.main_content .col-xs-6{
		width: 49%;
		display: inline-block;
		float: initial;
	}
}

 @media  (max-width: 560px){
	.header-bg .text-info{
		font-size: 30px;
		line-height: 30px;
	}

	.header-bg{
		min-height: 200px;
	}
}

 @media  (max-width: 390px){
	.header-bg .navbar-default h2{
		display: none;
	}
	.header-bg  .navbar-brand{
		min-width: 200px;
	}
	.header-bg .nav_menu {
	    margin-top: 20px;
	}
}
